---
import { Picture } from 'astro:assets';

import Docker from "../../assets/main/docker.svg"
import Kubernetes from "../../assets/main/kubernetes.svg"
import grafana from "../../assets/main/grafana.png"

import Js from "../../assets/main/js.svg"
import rust from "../../assets/main/rust.png"
import lua from "../../assets/main/lua.png"
import chat from "../../assets/main/chat.png"
import isent from "../../assets/main/isent-it.png"

import tide from "../../assets/main/tide.png"
import agl from "../../assets/main/agl.png"
import ts from "../../assets/main/ts.png"
---

<section id="content" class="mt-16 px-2 text-dark-pink font-semibold
    lg:text-2xl md:text-xl sm:text-lg md:leading-10 leading-8 sm:*:my-0 *:my-4">
    <div>
        It all started with <span
        class="whitespace-nowrap relative px-2.5 py-1 bg-white/25 hover:bg-white/50 transition-colors">
            game developpment<div>
                <a target="_blank" href="https://github.com/IsenEngineering/Isen-t-it" 
                    class="absolute bottom-24 -right-48 -rotate-2"
                    title="Isen'T it">
                    <Picture height={135} width={231}
                        loading="lazy" format="webp" src={isent} alt="Isen't It"
                        class="h-32 w-auto  rounded-sm" />
                    <p class="absolute bottom-0.5 -left-12 rotate-2 text-white">
                        Isen't It
                    </p>
                </a>
                <a target="_blank" href="https://github.com/Loshido/jeu-du-chat" 
                    class="absolute -bottom-12 -right-96 rotate-3"
                    title="JeuDuChat">
                    <Picture height={128} width={277}
                        loading="lazy" format="webp" src={chat} alt="JeuDuChat"
                        class="h-32 w-auto  rounded-sm" />
                    <p class="absolute z-20 bottom-0.5 -left-12 -rotate-1 text-white text-shadow-lg">
                        JeuDuChat
                    </p>
                </a>
                <Picture height={50} width={50}
                    loading="lazy" format="webp" src={lua} alt="Lua"
                    class="h-12 w-auto absolute -bottom-14 left-1/6 -rotate-2" />
                <Js class="h-10 w-auto absolute -bottom-12 right-8 rotate-3" />
                <Picture height={53} width={53}
                    loading="lazy" format="webp" src={rust} alt="Rust"
                    class="h-12 w-auto absolute bottom-12 -left-12 -rotate-6" />
                <!-- Bevy (rust), FiveM (lua), Roblox (lua) & Javascript projects -->
            </div>
         </span>
    </div>
    <div class="isolate relative">
        Soon after, I realise <span 
        class="whitespace-nowrap relative px-2.5 py-1 bg-white/25 hover:bg-white/50 transition-colors">the web<div>
                <a target="_blank" href="https://github.com/Loshido/Tidee" 
                    class="absolute -top-20 lg:-right-[550px] -right-64 rotate-6 -z-10">
                    <Picture height={226} width={213}
                        loading="lazy" format="webp" src={tide} alt="Tidee"
                        class="h-48 w-auto  rounded-sm" />
                    <p class="absolute z-20 -bottom-2 -left-6 -rotate-6 text-white text-shadow-lg">
                        Tide
                    </p>
                </a>
                <a target="_blank" href="https://github.com/Loshido/agl-bet"
                    class="absolute -bottom-12 lg:-right-[675px] -right-96 rotate-6 -z-10">
                    <Picture height={204} width={211}
                        loading="lazy" format="webp" src={agl} alt="Agl-bet"
                        class="h-48 w-auto  rounded-sm" />
                    <p class="absolute z-20 -top-7 -right-4 -rotate-1 text-white text-shadow-lg">
                        AGL-Bet
                    </p>
                </a>
                <Picture height={44} width={44}
                    loading="lazy" format="webp" src={ts} alt="Typescript"
                    class="h-10 absolute bottom-12 -left-2/5 -rotate-6" />
            </div></span> could bring me higher.
    </div>
    <div>
        Curiosity led me further and I discovered the world of <span 
        class="whitespace-nowrap relative px-2.5 py-1 bg-white/25 hover:bg-white/50 transition-colors">
            devops & orchestration
            <div>
                <Docker class="h-8 w-auto absolute -bottom-10 left-3/4 -rotate-6"/>
                <Kubernetes class="h-8 w-auto absolute 2xl:bottom-12 bottom-20 right-2/5 rotate-1"/>
                <Picture width={124} height={32}
                    loading="lazy" format="webp" src={grafana} alt="Grafana"
                    class="h-8 w-auto absolute -bottom-12 -left-1/5 -rotate-2" />
            </div>
        </span>
    </div>
    <div>
        Now, I can tackle challenges from idea to deployment.
    </div>
</section>